<div class="container text-center index_div">
    <h1>Bienvenidos</h1>
    <h2>Productos Favoritos</h2>
    <h3>Seleccionar la cantida de Productos a Visualizar</h3>
    <div class="index_div__div">
        <a href="/?limit=1" class="btn btn-primary">1 Producto</a>
        <a href="/?limit=6" class="btn btn-primary">6 Productos</a>
        <a href="/?limit=8" class="btn btn-primary">8 Productos</a>
        <a href="/?limit=16" class="btn btn-primary">16 Productos</a>
    </div>

</div>


<section class="products">
    <div id="product-container" class="container products">
        {{#each products}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src={{ thumbnail }} alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ title }}</h4>
                <p class="card-text">{{ description }} </p>
                <h5 class="card-text">${{ price }}.- </h5>
                <div class="buttons_pay">
                    <form action="/carts/{{id}}" method="POST">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" class="btn btn-primary">Comprar</button>
                    </form>
                    <a href="/productsid/{{id}}" class="btn btn-secondary">Detalles</a>
                </div>

            </div>
        </div>
        {{/each}}
    </div>
</section>

<div class=" text-center">
    <h2>Carga de Productos</h2>
</div>

<section class="products">
    <div id="product-container" class="container products">
        <div class="card" style="width: 18rem;">
            <form action="/products" method="POST" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group">
                        <label for="title">Marca</label>
                        <input type="text" class="form-control" id="title" name="title" value="{{ title }}">
                    </div>
                    <div class="form-group">
                        <label for="category">Modelo</label>
                        <input type="text" class="form-control" id="category" name="category" value="{{ category }}">
                    </div>
                    <div class="form-group">
                        <label for="thumbnail">Foto</label>
                        <input type="file" class="form-control" id="thumbnail" name="thumbnail">
                    </div>
                    <div class="form-group">
                        <label for="code">Código</label>
                        <input type="text" class="form-control" id="code" name="code" value="{{ code }}">
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción</label>
                        <textarea class="form-control" id="description" name="description"
                            rows="3">{{ description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="price">Precio</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="number" class="form-control" id="price" name="price" value="{{ price }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input type="number" class="form-control" id="stock" name="stock" value="{{ stock }}">
                    </div>
                    <div class="form-group align-center text-center">
                        <button type="submit" class="btn btn-danger">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>